<div class="container">
  <app-cars-form (addCar)="onAdd($event)"></app-cars-form>

  <div class="list-group">
    <app-car *ngFor="let c of cars" [car]="c" (deleteCar)="onDelete($event)"></app-car>
  </div>  
</div>