<div class="form-group">
    <label for="carName">car name</label>
    <input type="email" class="form-control" id="carName" aria-describedby="emailHelp" placeholder="car name" [(ngModel)]="carName">
</div>

<div class="form-group">
    <label for="carModel">car model</label>
    <input type="email" class="form-control" id="carModel" aria-describedby="emailHelp" placeholder="car model" [(ngModel)]="carModel">
</div>

<button type="button" class="btn btn-primary" (click)="onAdd()">add car</button>
<button type="button" class="btn btn-secondary" (click)="onLoad()">load cars</button>